html{
    margin: 0;
    padding: 0;
    background-color: rgb(217, 215, 215);
}

.bgr{
    display: block;
    background-color: white;
    height: 100%;
    width: 100%;
}
.div-1{
    display: flex;
    
}
.menu{
    background-color: rgb(5, 54, 119);
    min-height: 50px;
    width: 100%;
    border-radius: 5px;
}
.menu li{
    display: inline;
    padding: 30px 30px;
    line-height: 50px;
}
.menu li a{
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-decoration: none;
}
#logo{
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(20%);
    margin-left: -25px;
}
.menu li a:hover{
    font-size: 20px;
    color: rgb(255, 111, 1);
}
#nut-tk{
    background-color: rgb(5, 54, 119);
    color: white;
    border: none;
    
}
.search-form{
    border-radius: 8px;   
    border: none;
    display:inline;
    background-color:white;
    border: 1px solid black;
    padding:5px;
}
.search-form .search-input{
    border: 1px solid transparent;
    outline:none;
}
.search-form button#nut-tk{
    background-color: rgb(250 250 250);
    color: black;

}
.div-2{
    display: flex;
}

.div-2-1, .div-2-2{
    height: 250px;
    border: 1px solid black;
    border-radius: 20px;
}

.div-2-1{
    display: block;
    width: 45%;
    margin-left: 5%;
    background-image: url(../img/back1.png),
    linear-gradient(0, rgba(182, 3, 3, 0), rgba(252, 151, 0, 0.985));
    box-shadow: 5px 5px rgb(198, 184, 184);
    
}
.div-2-2{
    display: flex;
    background-color: rgb(212, 210, 207);
    width: 35%;
    margin-left: 10%;
    box-shadow: 5px 5px rgb(198, 184, 184);
}
.diva1{
    height: 50%;
}
.diva2{
    display: flex;
}
.ma1{
    width: 80%;
    height: 50%;
    font-size: 40px;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 10px;
}
.ma1:hover{
    background-color: rgb(254, 254, 254);
    color: rgb(0, 0, 0);

}
.diva21, .diva22{
    width: 50%;
    height: 100%;
}
.btn-xn1{
    background-color: rgba(43, 1, 255, 0.578);
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 60%;
    height: 50px;
    margin-top: 10%;
    margin-left: 20%;
    box-shadow: 5px 5px rgba(43, 1, 255, 0.148);
} 
.btn-xn2{
    background-color: rgba(43, 1, 255, 0.578);
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 60%;
    height: 50px;
    margin-top: 10%;
    margin-left: 20%;
    box-shadow: 5px 5px rgba(43, 1, 255, 0.148);
}
.btn-xn1:hover, .btn-xn2:hover{
    background-color: rgb(255, 111, 1);
    font-size: 30px;
    color: black;

}
.div-21{
    display: flex;
    width: 100%;
    margin: 2% 5% 2% 5%;
}
.div-21 i{
    color: gold;
}
.div-3{
    display: flex;
    height: 20rem;
    margin: 0% 5% 5% 5%;
    gap: 1rem;
}
.div-3 > div{
    border-radius: 10px;
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.div-3 > div:hover{
    flex: 5;
}
.div-4{
    display: flex;
    width: 100%;
    height: 350px;
    background-color: rgb(255, 111, 1);
    margin-top: 30px;
}
.div-5{
    display: block;
    width: 100%;
    height: 450px;
    background-color: rgb(59, 59, 59);
    margin-top: 30px;
}
.div-5-1{
    width: 100%;
    display: flex;
}
.div-5-1 p{
    color: rgb(95, 95, 95);
}
.div511, .div512, .div513, .div514, .div515{
    font-size: 20px;
    padding: 10px;
    width: 20%;
    margin-left: 20px;
}
.info{
    font-size: 24px;
    padding: 10px;
    margin: 5px;
    color: rgb(110, 106, 106);
    text-decoration: none;
}
.info:hover{
    color: silver;
}

.fa-solid::before{
    padding:10px
}